h1, h2, h3, p { 
    font-family: 'Outfit', sans-serif;
}

header, body { 
    background-color: #fff;
}

header { 
    padding: 3em;
}

img { 
    border: solid 1px white; 
}

footer { 
    padding: 5em;
}

#ourStoryCarousel { 
    padding: 2em;
}

#menuDescription { 
    padding: 2em;
}

nav {
    padding: 10em; 
}

#farineNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-item {
    padding-right: 50px
}

.copyright {
    padding-top: 2em;
}

.btn-link {
    text-decoration: none;
    color:dimgray;
    font-family: 'Outfit', sans-serif;
}